<h1>Čeští uprchlíci, kteří přiletěli, zůstanou</h1>
<p>
  <i>Od našich londýnských korespondentů<br>
    Londýn, pátek.</i>
</p>
<p>
  Dobrodružství jedenácti uprchlíků české národnosti, kteří ve středu přistáli v Croydonu a byli tam
  zadrženi a kteří měli být zítra vráceni lodí do Dánska, mělo šťastný konec. Židovský pomocný výbor pro uprchlíky
  z Německa, který dosud nepřijímal zodpovědnost za uprchlíky z Česko-Slovenska, se dnes rozhodl jako
  mimořádné opatření poskytnout za ně nezbytné záruky tak, aby mohli být v zemi přijati.
</p>
<p>
  Z úředních míst se dozvídáme, že tato skupina přiletěla z Krakova v Polsku v pronajatém letadle,
  s mezipřistáním v Kodani. [...]
</p>
<p>
  Tamější pohraničníci [v Croydonu] konzultovali s ministerstvem vnitra, jež se obrátilo na uprchlické výbory,
  které o této skupině nic nevěděly a nebyly připraveny je sponzorovat. V důsledku toho bylo těchto jedenáct
  lidí zadrženo a měli být posláni lodí zpět do Kodaně.
</p>
<p>
  Lze předpokládat, že tato skupina podnikla zoufalý pokus o vstup do naší země kvůli novému vízovému
  systému pro Čechy přijíždějící do Anglie, který má vstoupit v platnost 1. dubna a který byl oznámen
  v lednu. [...]
</p>
<p>
  Koluje mnoho historek o množství uprchlíků vrácených během tohoto týdne. Získal jsem tato čísla.
  Celkový počet cizinců všech kategorií, kteří přiletěli do Croydonu ve středu, obnášel 257, z nichž 118
  byli Němci a 45 Češi. Odmítnuto bylo 10, z nichž všichni byli Češi. Včera v Croydonu přistálo
  241 cizinců, z nichž 82 byli Němci a 81 Češi. Vstup byl odmítnut 20 Čechům.
</p>
